body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* #region header */

.header .container {
    display: flex;
    gap: 73px;
}

.navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.header-logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
    display: flex;
    gap: 16px;
    align-items: center;
}

.navigation-list {
    display: flex;
    gap: 30px;
}

.navigation-list-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
}

.current {
    font-weight: 600;
}

.header-buttons-list {
    display: flex;
    gap: 21px;
    align-items: center;
}

.header-btn-sign-in {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
}

.header-btn-sign-up {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background: #02897a;
}

/* #endregion header */

/* #region hero */

.hero {
    padding-top: 25px;
    padding-bottom: 50px;
}

.hero .container {
    display: flex;
    align-items: center;
    gap: 35px;
}

.hero-title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    max-width: 380px;
}

.hero-title-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;
}

.hero-buttons-list {
    display: flex;
    gap: 35px;
    align-items: center;
}

.hero-btn-get {
    width: 178px;
    height: 53px;
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.hero-btn-watch {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    background-color: white;
}

/* #endregion hero */

/* #region product */
.product {
    padding: 50px 0;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    max-width: 500px;
    margin: 0 auto;
}

.product-list {
    display: flex;
    padding: 50px 20px;
    justify-content: space-between;
}

.product-list-item {
    width: calc((100% - 130px)/4);
}

.product-list-icon-cursor {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    background-color: #02897a;
    ;
}

.product-list-icon-wave {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    background: #4d8dff;
}

.product-list-icon-heart {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    background: #740a76;
}

.product-list-icon-time {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    background: #f03e3d;
}

.product-list-item-title {
    padding-top: 26px;
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}

.product-list-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.product-btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background: #02897a;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}

/* #endregion product */

/* #region management */

.management {
    padding: 50px 0;
}

.management .container {
    display: flex;
    gap: 84px;
    align-items: center;
}

.management-section {
    width: 486px;
    height: 418px;
}

.management-pre-header {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.management-header {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    padding-top: 8px;
    padding-bottom: 25px;
}

.management-header-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.management-list-header {
    font-weight: 600;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    padding-top: 30px;
    padding-bottom: 12px;
}

.management-list-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

/* #endregion management */

/* #region support */

.support {
    padding: 50px 0;
}

.support .container {
    display: flex;
    gap: 84px;
    align-items: center;
}

.support-text-section {
    width: 450px;
    height: 419px;
}

.support-pre-header {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.support-header {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    padding-top: 8px;
    padding-bottom: 25px;
}

.support-header-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.support-list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.support-list-item {
    display: flex;
    align-items: center;
    width: 450px;
    height: 52px;
    justify-content: space-between;
}

.support-list-item-icon-yellow {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    background: #f90;
    flex-shrink: 0;
}

.support-list-item-icon-red {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    background: #f03e3d;
    flex-shrink: 0;
}

.support-list-item-icon-blue {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    background: #4d8dff;
    flex-shrink: 0;
}

.support-list-item-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    max-width: 385px;
}

/* #endregion support */

/* #region collaboration */

.collaboration {
    padding: 50px 0;
}

.collaboration .container {
    display: flex;
    gap: 84px;
    align-items: center;
}

.collaboration-text-section {
    width: 486px;
    height: 418px;
}

.collaboration-pre-header {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    padding-bottom: 8px;
}

.collaboration-header {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}

.collaboration-header-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    padding-top: 25px;
    padding-bottom: 18px;
}

.collaboration-list-item-header {
    font-weight: 600;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    padding-top: 12px;
    padding-bottom: 25px;
}

.collaboration-list-item-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

/* #endregion collaboration */

/* #region process */

.process {
    padding: 100px 0;
}

.process-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
}

.process-title-descr {
    max-width: 540px;
    font-weight: 500;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: center;
    line-height: 1.625;
    color: #22343d;
    margin: 0 auto;
}

.process-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 100px;
    width: 916px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.process-list-item {
    display: flex;
    width: 408px;
    height: 98px;
    align-items: center;
    justify-content: space-between;
}

.process-item-descr {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    fill: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    padding: 13px 20px;
    border-radius: 50px;
}

.process-btn {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 216px;
    height: 53px;
    background: #02897a;
}

/* #endregion process */

/* #region  strategies*/

.strategies {
    padding-bottom: 171px;
}


.strategies-header {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.strategies-header-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    max-width: 460px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.strategies-list {
    display: flex;
    gap: 30px;
}

.strategies-list-item {
    width: calc((100% - 60p x)/3);
    border: 1px solid #dedede;
    border-radius: 8px;
}

.strategies-list-item-img {
    border-radius: 8px 8px 0 0;
    width: 350px;

}

.strategies-list-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    padding-top: 24px;
    padding-left: 24px;
}

.strategies-list-item-span {
    font-weight: 700;
}

.strategies-list-item-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #22343d;
    padding: 12px 27px 40px 27px;
}

.strategies-list-item:hover .strategies-list-item-header {
    color: #02897a;
}

/* #endregion  strategies*/

/* #region prices */

.prices {
    text-align: center;
}

.prices-header {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.prices-descr {
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
    padding-top: 10px;
    padding-bottom: 40px;
}

.prices-list {
    display: flex;
    gap: 72px;
    font-family: "Montserrat", sans-serif;
}

.prices-card {
    width: calc((100% - 144px)/3);
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
}

.card-header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #22343d;
    padding-top: 32px;
    padding-bottom: 8px;
}

.card-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
}

.card-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-align: left;
    padding: 16px 0;
}

.card-price-number {
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.card-dollar-sign {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
}

.card-permonth {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-list-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
}

.card-button {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background: #02897a;
    margin-top: 30px;
    margin-bottom: 32px;
}

.prices-card:hover {
    background: #02897a;
}

.prices-card:hover .card-header,
.prices-card:hover .card-descr,
.prices-card:hover .card-price-number,
.prices-card:hover .card-list-item-text,
.prices-card:hover .card-dollar-sign {
    color: #fff;
}

.prices-card:hover .card-permonth {
    color: #e0e0e0;
}

.prices-card:hover .card-button {
    color: #02897a;
    background: #fff;
}

/* #endregion prices */

/* #region clients */

.clients {
    padding: 100px 0;
}

.clients-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78125;
    letter-spacing: 0.01em;
    color: #22343d;
    text-align: center;
}

.clients-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
    padding-top: 10px;
    padding-bottom: 40px;
}

.clients-list {
    display: flex;
    gap: 64px;
}

.clients-list-item {
    border: 1px solid #dedede;
    border-radius: 5px;
    width: calc((100% - 128px)/3);
    padding: 26px 28px;
}

.clients-list-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    padding: 16px 0;
}

.clients-list-item-profile {
    display: flex;
    gap: 14px;
}

.clients-profile-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.clients-profile-job {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}

/* #endregion clients */

/* #region promotion */

.promotion {
    padding-bottom: 100px;
}

.promotion-box {
    display: flex;
    gap: 10px;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    background: #02897a;
    margin: 0 auto;
}

.promotion-text {
    padding: 49px 0 46px 51px;
    font-weight: 600;
    font-size: 32px;

    /* line-height: 48px; */
    line-height: 1.514;
    color: #fff;
}

.promotion-button {
    margin-left: 51px;
    margin-bottom: 56px;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
}

/* #endregion promotion */

/* #region footer */

.footer {}

.container {}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-list-item-logo {
    margin-right: 146px;
}

.footer-list-item-stuff {
    margin-left: 129px;
    margin-right: 83px;
}

.footer-list-item-input {
    max-width: 280px;
}

.footer-logo {
    font-weight: 700;
    font-size: 30px;

    line-height: 0.93333;
    color: #173a56;
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-list-item {
    border-radius: 100%;
    fill: #edfffc;
}

.footer-header {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 30px; */
    line-height: 1.5;
    color: #22343d;
    padding-bottom: 8px;
}

.footer-resource-list {}

.footer-text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 35px; */
    line-height: 2.1875;
    color: #22343d;
}

.footer-resource-text {}

.footer-stuff-list {}

.footer-stuff-list-item {}

.footer-input {
    display: block;
    margin-top: 22px;
    margin-bottom: 25px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
}

.footer-input-button {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    width: 131px;
    height: 39px;
    background: #02897a;
}

.footer-bottom-text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 30px; */
    line-height: 1.875;
    color: #22343d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

/* #endregion footer */