/* #region quick settings */
body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* #endregion quick settings */

/* #region header */

.header .container {
    display: flex;
    gap: 73px;
}

.navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.header-logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
    display: flex;
    gap: 16px;
    align-items: center;
}

.navigation-list {
    display: flex;
    gap: 30px;
}

.navigation-list-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
}

.current {
    font-weight: 600;
}

.header-buttons-list {
    display: flex;
    gap: 21px;
    align-items: center;
}

.header-btn-sign-in {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
}

.header-btn-sign-up {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background: #02897a;
}

/* #endregion header */

/* #region hero */

.hero {
    padding-top: 25px;
    padding-bottom: 50px;
}

.hero .container {
    display: flex;
    align-items: center;
    gap: 35px;
}

.hero-title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    max-width: 380px;
}

.hero-title-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;
}

.hero-buttons-list {
    display: flex;
    gap: 35px;
    align-items: center;
}

.hero-btn-get {
    width: 178px;
    height: 53px;
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.hero-btn-watch {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    background-color: white;
}

/* #endregion hero */

/* #region product */
.product {
    padding: 50px 0;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    max-width: 500px;
    margin: 0 auto;
}

.product-list {
    display: flex;
    padding: 50px 20px;
    justify-content: space-between;
}

.product-list-item {
    width: calc((100% - 130px)/4);
}

.product-list-icon-cursor {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    background-color: #02897a;
    ;
}

.product-list-icon-wave {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    background: #4d8dff;
}

.product-list-icon-heart {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    background: #740a76;
}

.product-list-icon-time {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    background: #f03e3d;
}

.product-list-item-title {
    padding-top: 26px;
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}

.product-list-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.product-btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background: #02897a;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}

/* #endregion product */

/* #region management */

.management {
    padding: 50px 0;
}

.management .container {
    display: flex;
    gap: 84px;
    align-items: center;
}

.management-section {
    width: 486px;
    height: 418px;
}

.management-pre-header {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.management-header {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    padding-top: 8px;
    padding-bottom: 25px;
}

.management-header-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.management-list-header {
    font-weight: 600;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    padding-top: 30px;
    padding-bottom: 12px;
}

.management-list-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

/* #endregion management */

/* #region support */

.support {
    padding: 50px 0;
}

.support .container {
    display: flex;
    gap: 84px;
    align-items: center;
}

.support-text-section {
    width: 450px;
    height: 419px;
}

.support-pre-header {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.support-header {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    padding-top: 8px;
    padding-bottom: 25px;
}

.support-header-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.support-list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.support-list-item {
    display: flex;
    align-items: center;
    width: 450px;
    height: 52px;
    justify-content: space-between;
}

.support-list-item-icon-yellow {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    background: #f90;
    flex-shrink: 0;
}

.support-list-item-icon-red {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    background: #f03e3d;
    flex-shrink: 0;
}

.support-list-item-icon-blue {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    background: #4d8dff;
    flex-shrink: 0;
}

.support-list-item-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    max-width: 385px;
}

/* #endregion support */

/* #region collaboration */

.collaboration {
    padding: 50px 0;
}

.collaboration .container {
    display: flex;
    gap: 84px;
    align-items: center;
}

.collaboration-text-section {
    width: 486px;
    height: 418px;
}

.collaboration-pre-header {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    padding-bottom: 8px;
}

.collaboration-header {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}

.collaboration-header-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    padding-top: 25px;
    padding-bottom: 18px;
}

.collaboration-list-item-header {
    font-weight: 600;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    padding-top: 12px;
    padding-bottom: 25px;
}

.collaboration-list-item-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

/* #endregion collaboration */

/* #region process */

.process {
    padding: 100px 0;
}

.process-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
}

.process-title-descr {
    max-width: 540px;
    font-weight: 500;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: center;
    line-height: 1.625;
    color: #22343d;
    margin: 0 auto;
}

.process-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 100px;
    width: 916px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.process-list-item {
    display: flex;
    width: 408px;
    height: 98px;
    align-items: center;
    justify-content: space-between;
}

.process-item-descr {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    fill: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    padding: 13px 20px;
    border-radius: 50px;
}

.process-btn {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 216px;
    height: 53px;
    background: #02897a;
}

/* #endregion process */

/* #region  strategies*/

.strategies {
    padding-bottom: 171px;
}


.strategies-header {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.strategies-header-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    max-width: 460px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.strategies-list {
    display: flex;
    gap: 30px;
}

.strategies-list-item {
    width: calc((100% - 60p x)/3);
    border: 1px solid #dedede;
    border-radius: 8px;
}

.strategies-list-item-img {
    border-radius: 8px 8px 0 0;
    width: 350px;

}

.strategies-list-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    padding-top: 24px;
    padding-left: 24px;
}

.strategies-list-item-span {
    font-weight: 700;
}

.strategies-list-item-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #22343d;
    padding: 12px 27px 40px 27px;
}

.strategies-list-item:hover .strategies-list-item-header {
    color: #02897a;
}

/* #endregion  strategies*/

/* #region prices */

.prices {
    text-align: center;
}

.prices-header {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.prices-descr {
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
    padding-top: 10px;
    padding-bottom: 40px;
}

.prices-header-1 {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 32px;
}

.prices-descr-1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #22343d;
}

.prices-descr-2 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
    margin-top: 16px;
}

.prices-list {
    display: flex;
    gap: 72px;
    font-family: "Montserrat", sans-serif;
}

.prices-card {
    width: calc((100% - 144px)/3);
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
}

.card-header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #22343d;
    padding-top: 32px;
    padding-bottom: 8px;
}

.card-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
}

.card-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-align: left;
    padding: 16px 0;
}

.card-price-number {
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.card-dollar-sign {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
}

.card-permonth {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-list-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
}

.card-button {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background: #02897a;
    margin-top: 30px;
    margin-bottom: 32px;
}

.prices-card:hover {
    background: #02897a;
}

.prices-card:hover .card-header,
.prices-card:hover .card-descr,
.prices-card:hover .card-price-number,
.prices-card:hover .card-list-item-text,
.prices-card:hover .card-dollar-sign {
    color: #fff;
}

.prices-card:hover .card-permonth {
    color: #e0e0e0;
}

.prices-card:hover .card-button {
    color: #02897a;
    background: #fff;
}

/* #endregion prices */

/* #region clients */

.clients {
    padding: 100px 0;
}

.clients-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78125;
    letter-spacing: 0.01em;
    color: #22343d;
    text-align: center;
}

.clients-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
    padding-top: 10px;
    padding-bottom: 40px;
}

.clients-list {
    display: flex;
    gap: 64px;
}

.clients-list-item {
    border: 1px solid #dedede;
    border-radius: 5px;
    width: calc((100% - 128px)/3);
    padding: 26px 28px;
}

.clients-list-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    padding: 16px 0;
}

.clients-list-item-profile {
    display: flex;
    gap: 14px;
}

.clients-profile-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.clients-profile-job {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}

/* #endregion clients */

/* #region promotion */

.promotion {
    padding-bottom: 100px;
}

.promotion-box {
    display: flex;
    gap: 10px;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    background: #02897a;
    margin: 0 auto;
}

.promotion-text {
    padding: 49px 0 46px 51px;
    font-weight: 600;
    font-size: 32px;

    /* line-height: 48px; */
    line-height: 1.514;
    color: #fff;
}

.promotion-button {
    margin-left: 51px;
    margin-bottom: 56px;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
}

/* #endregion promotion */

/* #region footer */
.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-list-item-logo {
    margin-right: 146px;
}

.footer-list-item-stuff {
    margin-left: 129px;
    margin-right: 83px;
}

.footer-list-item-input {
    max-width: 280px;
}

.footer-logo {
    font-weight: 700;
    font-size: 30px;

    line-height: 0.93333;
    color: #173a56;
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-list-item {
    border-radius: 100%;
    fill: #edfffc;
}

.footer-header {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 30px; */
    line-height: 1.5;
    color: #22343d;
    padding-bottom: 8px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 35px; */
    line-height: 2.1875;
    color: #22343d;
}

.footer-input {
    display: block;
    margin-top: 22px;
    margin-bottom: 25px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
}

.footer-input-button {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    width: 131px;
    height: 39px;
    background: #02897a;
}

.footer-bottom-text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 30px; */
    line-height: 1.875;
    color: #22343d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

/* #endregion footer */

/* #region enterprise */
.enterprise {
    background-image: linear-gradient(to bottom, rgba(246, 246, 246, 1), rgba(246, 246, 246, 0));
    text-align: center;
    padding: 50px 0;
    margin-top: 150px;
    margin-bottom: 296px;
}

.enterprise-title {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.enterprise-header {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.enterprise-descr {
    font-weight: 400;
    font-size: 18px;
    color: #22343d;
    margin-bottom: 32px;
    margin-top: 8px;
}

.enterprise-button {
    border-radius: 8px;
    width: 224px;
    height: 44px;
    background: #02897a;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

/* #endregion enterprise */

/* #region effects */

.effects-header {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    text-align: center;
}

.effects-section {
    display: flex;
    gap: 60px;
    margin-bottom: 6px;
    margin-top: 24px;
    align-items: center;
}

.effects-list-group {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.effects-list-logo {
    border-radius: 100px;
    padding: 24px;
    width: 50px;
    height: 50px;
    background: #f4f5f7;
}

.effects-list-title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #22343d;
}

.effects-list-descr {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

/* #endregion effects */

/* #region questions */
.questions .container {
    padding-bottom: 150px;
    width: 920px;
}

.questions-header {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    text-align: center;
}

.questions-descr {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #22343d;
    margin-top: 8px;
    margin-bottom: 34px;
}

.questions-list-item {
    border-bottom: 1px solid #E7E7E7;
    padding: 16px 0;
}

.questions-list-logo {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #02897a;
}

.questions-list-header {
    font-weight: 500;
    font-size: 18px;
    color: #22343d;
}

.questions-list-group {
    align-items: center;
    display: flex;
    gap: 16px;
}

.questions-list-descr {
    font-weight: 400;
    font-size: 16px;
    color: #22343d;
    margin-top: 16px;
}

/* #endregion questions */

/* #region brand */
.brands {
    margin-top: 100px;
    margin-bottom: 120px;
}

.brands-heading {
    font-weight: 700;
    font-size: 40px;
    color: #22343d;
    text-align: center;
    margin-bottom: 50px;
}

.brands-list {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.brands-item {
    padding: 16px 0;
}

/* #endregion brand */

/* #region choose */
.choose {
    background: #f5f5f5;
    padding-top: 24px;
    padding-bottom: 68px;
}

.choose-heading {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
}

.choose-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.choose-item {
    width: calc((100% - 60px)/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dedede;
    border-radius: 10px;
}

.blue {
    background: #4d8dff;
}

.green {
    background: #02897a;
}

.red {
    background: #f03e3d;
}

.choose-icon {
    margin: 32px;
    border-radius: 19px;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.choose-item-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    letter-spacing: 0em;
    text-align: center;
    color: #22343d;
}

.choose-item-descr {
    margin: 0 38px;
    margin-top: 16px;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6875;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
}

/* #endregion choose */

/* #region work */

.work-heading {
    margin-top: 100px;
    margin-bottom: 74px;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
}

.work-section {
    display: flex;
    justify-content: space-between;
    width: 1024px;
}

.work-section-text {
    width: 438px;
}

.work-section-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.work-step {
    font-weight: 500;
    font-size: 20px;
    color: #22343d;
    text-transform: uppercase;
}

.work-section-heading {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
    margin: 16px 0;
}

.work-section-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.work-button {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    width: 224px;
    height: 44px;
    background: #02897a;
    margin: 0 auto;
    display: block;
    margin-top: 78px;
    margin-bottom: 116px;
}

/* #endregion work */

/* #region join */
.join {
    background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
    margin-bottom: 150px;
    padding-top: 36px;
    padding-bottom: 44px;
}

.join-heading {
    width: 530px;
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin: 0 auto;
    text-align: center;
}

.join-list {
    justify-content: center;
    margin-top: 96px;
    display: flex;
    gap: 230px;
    text-align: center;
}

.join-red {
    background: #ffefef;
}

.join-blue {
    background: #f2f6ff;
}

.join-item-logo {
    margin: 0 auto;
    border-radius: 100px;
    padding: 30px 20px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}

.join-item-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    color: #000;
}

.join-item-list {
    margin-top: 16px;
    margin-bottom: 12px;
}

.join-item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.77778;
    text-align: center;
    color: #22343d;
}

.join-item-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    color: #000;
}

/* #endregion join */

/* #region great */
.great .container {
    display: flex;
    margin-top: 76px;
    margin-bottom: 64px;
    justify-content: space-between;
}

.great-heading {
    font-weight: 600;
    font-size: 40px;
    width: 380px;
    line-height: 1.49;
    letter-spacing: -0.03em;
    color: #22343d;
}

.great-descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    margin: 24px 0;
    letter-spacing: -0.03em;
    color: #22343d;
}

.great-input-box {
    position: relative;
}

.great-input {
    border: 1px solid #eaeaea;
    border-radius: 100px;
    width: 469px;
    height: 66px;
    padding: 8px 28px;
}

.great-button {
    position: absolute;
    top: 8px;
    right: 44px;
    font-weight: 600;
    font-size: 16px;
    background: #02897a;
    line-height: 0;
    color: #fff;
    border-radius: 100px;
    padding: 24px;
}

.great-people {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

.great-people-descr {
    font-weight: 400;
    font-size: 14px;
    color: #22343d;
}

.great-4000 {
    font-weight: 500;
    color: #02897a;
}

/* #endregion great */

/* #region stories */

.stories-heading {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    text-align: center;
}

.stories-descr {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.625;
    color: #22343d;
    margin-top: 8px;
    margin-bottom: 32px;
}

.stories-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.stories-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.stories-item {
    width: calc((100% - 64px)/3);
    border: 1px solid #dedede;
    border-radius: 8px;
}

.stories-item-descr {
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.stories-wahid-ari {
    font-weight: 700;
}

.stories-item-heading {
    margin-left: 24px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #22343d;
}

.stories-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44444;
    color: #22343d;
    display: block;
    text-align: center;
    margin-top: 32px;
}

/* #endregion stories */

/* #region contacts */
.contacts {
    margin: 100px 0;
}

.contacts-heading {
    margin-top: 16px;
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 34px;

    /* line-height: 57px; */
    line-height: 1.67647;
    letter-spacing: 0.01em;
    text-align: center;
    color: #252b42;
}

.contacts-descr {
    font-weight: 500;
    font-size: 18px;

    /* line-height: 28px; */
    line-height: 1.55556;
    letter-spacing: 0.01em;
    text-align: center;
    color: #374754;
}

.contacts-list {
    display: flex;
    margin: 55px auto;
    gap: 24px;
}

.contacts-item {}

/* #endregion contacts */

/* #region  */
/* #endregion  */

/* #region  */
/* #endregion  */

/* #region  */
/* #endregion  */

/* #region  */
/* #endregion  */